spring:
  application:
    name: customer-service
  config:
    import: "configserver:http://config-service:8888"

  cloud:
    config:
      fail-fast: false
      retry:
        max-attempts: 6
        initial-interval: 2000
        multiplier: 1.5
        max-interval: 10000
